body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    border: 8px solid #7fe9eb;
    margin-bottom: 10px;
}

.grid div {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.valid {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #3d9091 #2a7778 #204e4f #014e4f;
    box-sizing: border-box;
}

.bomb {
    height: 40px;
    width: 40px;
    border: 5px solid;
    border-color: #3d9091 #2a7778 #204e4f #014e4f;
    box-sizing: border-box;
}

.checked {
    height: 40px;
    width: 40px;
    border: 3px solid;
    background-color: #00ffee;
    border-color: #057373;   
    box-sizing: border-box;
}

.one {
    color: #e76346;
}

.two {
    color: #0c50f0;
}

.three {
    color: #05ad35;
}

.four{
    color: #bb41d3;
}

.flags-left {
    font-size: 18px; 
    font-weight: bold; 
    font-family: sans-serif;
}

.result {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
    font-family: 'Roboto monospace', monospace;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.boom-1 {
    margin-right: 45px;
    align-self: center;
    font-size: 80px;
}

.boom-2 {
    margin-left: 45px;
    align-self: center;
    font-size: 80px;
}

.reset-button {
    width: 25%;
    padding: 10px;
    background-color: rgb(2, 120, 160);
    color: #fff;
    border: 0px;
    border-radius: 4px;
    margin-top: 8px;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    h1 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .grid {
        height: 300px;
        width: 300px;
        border: 6px solid #7fe9eb;
    }

    .grid div {
        font-size: 14px;
    }

    .valid {
        height: 30px;
        width: 30px;
    }

    .bomb {
        height: 30px;
        width: 30px;
    }

    .checked {
        height: 30px;
        width: 30px;
    }

    .flags-left {
        font-size: 12px;
    }

    .result {
        font-size: 20px;
        margin-top: 10px;
    }

    .board {
        justify-content: space-evenly;
    }

    .boom-1 {
        display: none;
    }

    .boom-2 {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .grid {
        height: 250px;
        width: 250px;
        border: 4px solid #7fe9eb;
    }

    .valid {
        height: 25px;
        width: 25px;
    }

    .bomb {
        height: 25px;
        width: 25px;
    }

    .checked {
        height: 25px;
        width: 25px;
    }
}
